*{
    scroll-behavior: smooth;
}
body{
    margin: 0;
    background-color: rgb(71, 71, 71);
    color: white;
    font-family: 'Roboto', sans-serif;
}
header{
    width: 100%;
    height: 50px;
    background-color: rgb(0,155,119);
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
}
nav{
    width: 100%;
    height: 50px;
}
nav > .nav_bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20%;
    margin-right: 20%;
    flex-wrap: wrap;
    list-style: none;
    width: 800px;
    margin: 0 auto;
    padding-top: 10px;
}
nav > .nav_bar > li{
    width: 80px;
    text-align: center;
    height: 25px;
    border-radius: 10px;
    padding-top: 5px;
}
nav > .nav_bar > li:hover{
    background-color: rgb(1, 117, 90);
}
nav > .nav_bar > li > a{
    text-decoration: none;
    color: white;
}
.runner{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 25px;
    font-size: 35px;
    font-family: 'Cairo', sans-serif;

}
main{
    padding-top: 50px;
    width: 1200px;
    margin: 0 auto;
}
.grid{
    display: flex;
    flex-direction: row;
    color: black;

/* Project's Styling*/
}
.projects{
    width: 72%;
    margin-left: 1%;
    margin-Right: 1%;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    color: white;
    font-size: 25px;
}
.projects-title{
    margin-bottom: 4px;
    margin-top: 0;
}
.underline{
    border: 2px solid rgb(55, 55, 55);
    border-radius: 10px;
    margin-bottom: 10px;
}
.showcase{
    background-color: rgb(0,155,119);
    margin-bottom: 1%;
    border-radius: 10px;
    font-size: 20px;
    border: solid rgb(55, 55, 55) 
}
.title{
    margin-left: 10px;
    padding-top: 7px;
    margin-bottom: 0;
}
.date{
    margin: 0;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0;
}
.description{
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 10px;
    line-height: 25px;
}
img{
    width: 100%;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* BIO STYLING */
.bio{
    background-color: rgb(0,155,119);
    width: 21%;
    margin-top: 60px;
    padding-left: 1%;
    padding-right: 1%;
    border-radius: 10px;
    color: white;
    border: solid rgb(55, 55, 55);
}
.me{
    line-height: 20px;
}
.profile{
    width: 175px;
    margin-left: 40px;
    border: 5px solid white;
    border-radius: 60%;
}
.ilist{
    padding-left: 15px;
    line-height: 20px
}
.ilist > li{
    padding-bottom: 10px
}

form{
    padding-bottom: 10px;
}